Django==5.2.5
gunicorn==23.0.0
whitenoise==6.6.0
Pillow==11.1.0
dj-database-url==2.1.0
psycopg2-binary==2.9.10
mercadopago==2.2.0
python-dotenv==1.0.1
qrcode==7.4.2
bleach==6.1.0
django-storages[s3]==1.14.4
boto3==1.36.0
